body {
  background-color: #121c27;
}
.App {
  background-color: #475b67;
  max-width: 6000px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  color: antiquewhite;
  font-family: "Poppins", sans-serif;
}
.App h1 {
  color: antiquewhite;
  text-align: center;
  font-family: "DM Serif Display", serif;
  letter-spacing: 3px;
  font-size: 48px;
}

.link {
  color: #94a6a0;
  text-decoration: none;
}

footer {
  color: #121c27;
  font-size: 12px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
