.App {
  max-width: 6000px;
  border: solid 2px #43585e;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  background: #43585e;
}
.App h1 {
  color: #121c27;
  text-align: center;
}

.link {
  color: #94a6a0;
  text-decoration: none;
}

footer {
  color: #121c27;
  font-size: 12px;
  display: block;
  text-align: center;
}
